.button {
  @include font(12px, 15px, 700);
  padding: 30px 40px;
  width: 310px;
  text-transform: uppercase;
  color: $basic-lightest;
  text-decoration: none;
  background-color: $accent-primary;
  display: inline-block;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
  box-sizing: border-box;

  &:active,
  &:hover,
  &:focus {
    background-color: $accent-hover;
  }

  @media (max-width: $tablet-width-only) {
    @include font(10px, 12px, 500);
    width: 250px;
    padding: 18px 40px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
  }
}
