.form {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__input {
  @include placeholder;
  padding: 15px 15px 15px 26px;
  flex-shrink: 0;
  border: none;
  outline: 1px solid rgba($basic-dark, 0.3);
  box-sizing: border-box;

  &--email {
    padding-left: 15px;
  }

  &--invalid {
    outline-color: $accent-primary;
  }
}
