.info {
  @media (min-width: $desktop-width) {
    position: relative;
    // overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/info-bg-desktop.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100vw;
      height: 1088px;
      z-index: -1;
      top: 75px;
      left: calc(50% - 722px);
    }
  }
}

.info__wrapper {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1170px;
    margin: 0 auto 228px;
  }
}

.info__tabs-list {
  @include reset-list;
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  width: calc(100vw - 16px);
  border-bottom: 1px solid rgba($basic-dark, 0.3);
  padding-bottom: 10px;
  margin-left: 16px;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: calc(100vw - 20px);
    padding-bottom: 15px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 920px;
    margin-left: 0;
  }
}

.info__tab {
  margin-right: 99px;

  @media (min-width: $tablet-width) {
    margin-right: 97px;
  }
}

.info__tab-link {
  @include font(20px, 24px, 500);
  color: rgba($basic-dark, 0.3);
  text-decoration: none;

  &--current {
    color: $accent-primary;
  }
}

.info__country-wrapper {
  padding: 0 16px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    margin-bottom: 0;
    max-width: 902px;
  }
}

.info__country-list {
  @include reset-list;
}

.info__country-item {
  display: none;

  &--current {
    display: block;

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 425px 1fr;
      grid-template-rows: 1fr;
      column-gap: 45px;
      margin-top: 60px;
    }
  }
}

.info__country-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.info__country-name {
  @include font(24px, 36px, 600);
  margin: 0;
  padding-bottom: 20px;
  padding-top: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(30px, 45px, 600);
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    @include font(55px, 90px, 600);
    text-align: left;
    letter-spacing: -1px;
    position: relative;
    padding-top: 14px;
    padding-bottom: 18px;

    &::before {
      content: "";
      position: absolute;
      width: 175px;
      height: 3px;
      background-color: $accent-primary;
      bottom: 0;
      left: 0;
    }
  }
}

.info__text {
  @include font(16px, 28px, 400);
  color: rgba($basic-dark, 0.7);
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: -0.5px;

  @media (min-width: $desktop-width) {
    max-width: 370px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: left;
  }
}

.info__button {
  text-align: center;

  @media (min-width: $desktop-width) {
    @include font(12px, 15px, 700);
    width: 250px;
    padding: 30px 39px;
  }
}

.info__review {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
