.info {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/info-bg-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 88vw;
    max-width: 1881px;
    height: 1088px;
    z-index: -1;
    top: 125px;
    left: calc(49vw - 712px);
  }

  @media (max-width: $tablet-width-only) {
    &::before {
      background-image: none;
      width: 0;
    }
  }
}

.info__wrapper {
  max-width: 1170px;
  margin: 0 auto 228px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 74px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 45px;
  }
}

.info__tabs-list {
  @include reset-list;
  border-bottom: 1px solid rgba($basic-dark, 0.3);
  display: flex;
  width: 920px;
  margin-left: 0;
  padding-bottom: 15px;

  @media (max-width: $tablet-width-only) {
    overflow: auto;
    width: calc(100vw - 20px);
    margin-left: 20px;
    scrollbar-width: none;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: calc(100vw - 16px);
    margin-left: 16px;
  }
}

.info__tab {
  margin-right: 97px;

  @media (max-width: $mobile-width-only) {
    margin-right: 99px;
  }
}

.info__tab-link {
  @include font(20px, 24px, 500);
  color: rgba($basic-dark, 0.3);
  text-decoration: none;

  &--current {
    color: $accent-primary;
  }
}

.info__country-wrapper {
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  margin-bottom: 0;
  max-width: 902px;

  @media (max-width: $tablet-width-only) {
    display: block;
    padding: 0 20px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 16px;
    margin-bottom: 48px;
  }
}

.info__country-list {
  @include reset-list;
}

.info__country-item {
  display: none;

  &--current {
    display: grid;
    grid-template-columns: 425px 1fr;
    grid-template-rows: 1fr;
    column-gap: 45px;
    margin-top: 60px;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 0;

    &--current {
      display: block;
    }
  }
}

.info__country-content {
  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info__country-name {
  @include font(55px, 90px, 600);
  text-align: left;
  letter-spacing: -1px;
  position: relative;
  padding-top: 14px;
  padding-bottom: 18px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    width: 175px;
    height: 3px;
    background-color: $accent-primary;
    bottom: 0;
    left: 0;
  }

  @media (max-width: $tablet-width-only) {
    @include font(30px, 45px, 600);
    padding-top: 27px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 0;

    &::before {
      width: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    @include font(24px, 36px, 600);
    padding-top: 24px;
  }
}

.info__text {
  @include font(16px, 28px, 400);
  color: rgba($basic-dark, 0.7);
  margin: 0;
  max-width: 370px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: left;
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width-only) {
    text-align: center;
    padding-bottom: 20px;
    max-width: initial;
    padding-top: 0;
  }
}

.info__button {
  @include font(12px, 14px, 500);
  text-align: center;
  width: 250px;

  @media (max-width: $tablet-width-only) {
    @include font(10px, 12px, 500);
  }
}

.info__review {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
