.main-nav {
  min-width: none;

  @media (max-width: $tablet-width-only) {
    position: relative;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width-only) {
    width: 72px;
    height: 50px;
    background-color: $accent-primary;
    border: none;
    position: absolute;
    right: 0;
    top: -34px;
    z-index: 2;
    display: block;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:active {
      background-color: $accent-hover;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 50px;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 25px;
  width: 22px;
  height: 1px;
  background-color: $basic-lightest;
  box-shadow: 0 8px 0 0 $basic-lightest, 0 16px 0 0 $basic-lightest;

  @media (max-width: $mobile-width-only) {
    left: 14px;
  }
}

.main-nav--closed .main-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.main-nav--opened.main-nav {
  background-color: $basic-lightest;

  @media (max-width: $tablet-width-only) {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 320px;
  }
}

.main-nav--opened .main-nav__toggle {
  background-color: $basic-lightest;
  top: 0;
  right: 0;
  width: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 11px;
    width: 30px;
    height: 1px;
    background-color: $special-grey;
    z-index: 1000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs.main-nav {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__list {
  display: block;
}
