.modal {
  display: none;
  background-color: $basic-lightest;
  width: 100vw;

  @media (min-width: $tablet-width) {
    background-color: $basic-light;
    width: 728px;
    background-image: url("../img/popup-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/popup-bg@2x.jpg");
      background-size: contain;
    }
  }
}

.modal--show {
  display: block;
  position: fixed;
  bottom: 25vh;
  box-shadow: 0 1px 30px $shadow-primary;

  @media (min-width: $tablet-width) {
    width: 728px;
    margin: 0 auto;
    left: calc(50% - 364px);
  }
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 568px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 72px 60px 89px;
    box-sizing: border-box;
    max-width: 390px;
    margin-left: auto;
    min-height: auto;
  }
}

.modal__title {
  @include font(25px, 42px, 600);
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
}

.modal__button {
  @media (min-width: $desktop-width) {
    padding: 18px 0 17px;
    max-width: 176px;
    margin: 0 auto;
  }
}

.modal__close {
  background-color: inherit;
  border: none;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 11px;
    width: 30px;
    height: 1px;
    background-color: $special-grey;
    z-index: 1000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__control {
  position: relative;

  &--phone {
    position: relative;

    &::before {
      content: " *";
      position: absolute;
      color: $accent-primary;
      line-height: 1;
      width: 6px;
      height: 6px;
      top: 6px;
      left: 14px;
      z-index: 1;
    }
  }
}

.modal__input {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 25px;
  }
}
