.page-footer__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.page-footer__title {
  @include font(18px, 32px, 600);
  color: $basic-darkest;
}

.page-footer__text {
  @include font(14px, 17px, 400);
  color: rgba($basic-darkest, 0.5);

  &--lh-bigger {
    line-height: 24px;
  }
}

.page-footer__contact {
  @include font(14px, 17px, 400);
  color: $accent-primary;
  text-decoration: none;

  &--phone {
    @include font(16px, 32px, 400);
    text-decoration: underline;
  }
}
