.page-header__wrapper {
  position: relative;
  padding: 16px 0 16px;

  @media (min-width: $tablet-width) {
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 34px 0 34px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.page-header__logo-image {
  @media (min-width: $desktop-width) {
    width: 57px;
    height: 22px;
  }
}
