.page-body {
  @include font(16px, 28px, normal);
  font-family: "Montserrat", "Verdana", sans-serif;
  background-color: $basic-lightest;
  color: $basic-dark;
  min-height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
