.places__wrapper {
  padding: 0 16px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 76px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 1170px;
    margin: 200px auto 0;
    padding: 0;
  }
}

.places__item {
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: 1fr 1fr 70px;
  align-items: start;

  &:last-child {
    padding-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    &:last-child:nth-child(2n+1) {
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    &:last-child:nth-child(2n+1) {
      margin: 0;
    }
  }
}

.places__ancor {
  @include font(14px, 17px, 500);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: $basic-dark;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: none;
}

.places__image-box {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.places__item:hover .places__ancor {
  display: inline-block;
  z-index: 10000;
  color: $basic-lightest;
  padding: 30px 23px;
  margin: 0 auto;
  border: 1px solid $basic-lightest;
  box-sizing: border-box;
  text-align: center;
  width: 266px;
}

.places__item:hover {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 34px);
    background-color: rgba($basic-darkest, 0.6);
    top: 0;
    left: 0;
  }
}

.places__title {
  @include font(24px, 29px, 500);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: $basic-lightest;
  width: 215px;
  padding: 17px 0;
  text-align: center;
  margin: 0 auto;
}

.places__img {
  @media (min-width: $desktop-width) {
    width: 350px;
    height: 430px;
  }
}

.places__main-title {
  @include font(24px, 36px, 600);
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font(30px, 45px, 600);
  }

  @media (min-width: $desktop-width) {
    @include font(55px, 80px, 600);
    max-width: 358px;
  }
}

.places__text {
  @include font(16px, 28px, 400);
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: -0.5px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 350px;
    padding-bottom: 55px;
    text-align: left;
  }
}

.places__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 0;
    row-gap: 0;
  }
}
