.pricing__wrapper {
  max-width: 1170px;
  margin: -274px auto 120px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0;

  @media (max-width: $tablet-width-only) {
    display: block;
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 92px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 16px;
    margin-bottom: 50px;
  }
}

.pricing__info {
  order: 3;
  width: 306px;

  @media (max-width: $tablet-width-only) {
    text-align: center;
    padding-bottom: 38px;
    padding-left: 0;
    width: 100%;
  }
}

.pricing__info-title {
  @include font(55px, 90px, 600);
  margin-top: 112px;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    width: 175px;
    height: 3px;
    background-color: $accent-primary;
    bottom: 0;
    left: 0;
  }

  @media (max-width: $tablet-width-only) {
    @include font(30px, 45px, 600);
    margin: 0;
    padding-bottom: 20px;

    &::before {
      width: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    @include font(24px, 36px, 600);
  }
}

.pricing__info-text {
  @include font(16px, 27px, 400);
  color: rgba($basic-dark, 0.7);
  padding-bottom: 60px;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 34px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 20px;
  }
}

.pricing__contacts-text {
  @include font(22px, 34px, 500);
  text-align: center;
  color: $basic-darkest;
  margin: 0;
  padding-bottom: 10px;

  @media (max-width: $tablet-width-only) {
    @include font(18px, 34px, 500);
  }
}

.pricing__contacts {
  display: flex;
  flex-direction: column;
}

.pricing__contact {
  @include font(20px, 32px, 400);
  color: $basic-darkest;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;


  @media (max-width: $tablet-width-only) {
    @include font(18px, 32px, 400);
    color: $accent-primary;
    justify-content: center;
  }
}

.pricing__list {
  @include reset-list;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: center;
  }
}

.pricing__item {
  width: 370px;
  box-sizing: border-box;
  padding: 40px 32px 30px;
  border: 1px solid rgba($basic-dark, 0.3);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: $basic-lightest;
  margin-right: 30px;
  margin-bottom: 20px;

  &:hover {
    border: 3px solid $accent-primary;
    padding: 38px 30px 28px;
  }

  @media (max-width: $tablet-width-only) {
    width: 288px;
    border: none;
    padding: 0;
    margin-right: 0;

    &:hover {
      border: none;
      padding: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pricing__button {
  margin-top: auto;
  text-align: center;
  width: 100%;
  max-width: initial;
}

.pricing__content {
  @media (max-width: $tablet-width-only) {
    padding: 30px 20px 30px;
    border: 1px solid rgba($basic-dark, 0.3);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
    min-height: 518px;
  }
}

.pricing__item:hover .pricing__content {
  @media (max-width: $tablet-width-only) {
    border: 3px solid $accent-primary;
    padding: 28px 18px 30px;
    border-bottom: none;
  }
}

.pricing__title {
  @include font(28px, 34px, 600);
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba($basic-darkest, 0.7);
  margin: 0;
  text-align: center;
  letter-spacing: -1px;

  @media (max-width: $tablet-width-only) {
    @include font(24px, 34px, 600);
    padding-bottom: 11px;
    flex-direction: column;
  }
}

.pricing__item:hover .pricing__title {
  color: $accent-primary;
  letter-spacing: 0;
}

.pricing__price {
  @include font(25px, 34px, 700);
  letter-spacing: 0;

  @media (max-width: $tablet-width-only) {
    padding-top: 8px;
  }
}

.pricing__item:hover .pricing__price {
  letter-spacing: 0;
}

.pricing__text {
  @include font(16px, 24px, 400);
  margin: 0;
  max-width: 289px;
  padding-bottom: 28px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba($basic-dark, 0.3);
    bottom: 0;
    right: 0;
  }

  @media (max-width: $tablet-width-only) {
    padding-bottom: 11px;
    text-align: center;
  }
}

.pricing__item:hover .pricing__text {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $accent-primary;
    bottom: 0;
    right: 0;
  }
}

.pricing__features-list {
  @include reset-list;
  padding-top: 30px;
  padding-left: 26px;

  @media (max-width: $tablet-width-only) {
    padding-top: 20px;
  }
}

.pricing__feature {
  list-style-image: url("../img/icons/tick.svg");
  padding-bottom: 22px;

  &:last-child {
    padding-bottom: 36px;
  }

  @media (max-width: $tablet-width-only) {
    @include font(16px, 32px, 400);

    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.pricing__item:hover .pricing__feature {
  list-style-image: url("../img/icons/black-tick.svg");
}

.pricing__icon {
  display: inline-block;
  fill: $accent-primary;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.pricing__contacts-number {
  padding-left: 25px;

  &:hover {
    color: $accent-primary;
  }

  @media (max-width: $tablet-width-only) {
    padding-left: 0;
  }
}
