.pricing__wrapper {
  padding: 0 16px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    margin-bottom: 112px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1170px;
    margin: 0 auto 140px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.pricing__info {
  text-align: center;
  padding-bottom: 38px;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-left: 20px;
    order: 3;
    width: 306px;
    text-align: left;
  }
}

.pricing__info-title {
  @include font(24px, 36px, 600);
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include font(30px, 45px, 600);
  }

  @media (min-width: $desktop-width) {
    @include font(55px, 90px, 600);
    margin-top: 112px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 15px;

    &::before {
      content: "";
      position: absolute;
      width: 175px;
      height: 3px;
      background-color: $accent-primary;
      bottom: 0;
      left: 0;
    }
  }
}

.pricing__info-text {
  @include font(16px, 27px, 400);
  color: rgba($basic-dark, 0.7);
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
  }
}

.pricing__contacts-text {
  @include font(18px, 34px, 500);
  color: $basic-darkest;
  margin: 0;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    @include font(22px, 34px, 500);
    text-align: center;
  }
}

.pricing__contacts {
  display: flex;
  flex-direction: column;
}

.pricing__contact {
  @include font(14px, 17px, 400);
  color: $accent-primary;

  @media (min-width: $tablet-width) {
    @include font(16px, 32px, 400);
  }

  &--email {
    display: none;
  }

  &--phone {
    @include font(18px, 32px, 400);
  }

  @media (min-width: $desktop-width) {
    &--phone {
      @include font(20px, 32px, 400);
      color: $basic-darkest;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }
}

.pricing__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-evenly;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.pricing__item {
  max-width: 288px;
  margin: 0 auto;
  background-color: $basic-lightest;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 370px;
    box-sizing: border-box;
    padding: 40px 32px 30px;
    border: 1px solid rgba($basic-dark, 0.3);
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-right: 30px;
    }

    &:hover {
      border: 3px solid $accent-primary;
      padding: 38px 30px 28px;
    }
  }
}

.pricing__button {
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: initial;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
  }
}

.pricing__content {
  padding: 30px 20px 30px;
  border: 1px solid rgba($basic-dark, 0.3);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
  min-height: 518px;

  @media (min-width: $desktop-width) {
    border: none;
    padding: 0;
  }
}

.pricing__item:hover .pricing__content {
  border: 3px solid $accent-primary;
  padding: 28px 18px 30px;
  border-bottom: none;

  @media (min-width: $desktop-width) {
    border: none;
    padding: 0;
  }
}

.pricing__title {
  @include font(24px, 34px, 600);
  color: rgba($basic-darkest, 0.7);
  margin: 0;
  text-align: center;
  padding-bottom: 11px;
  display: flex;
  flex-direction: column;
  letter-spacing: -1px;

  @media (min-width: $desktop-width) {
    @include font(28px, 34px, 600);
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.pricing__item:hover .pricing__title {
  color: $accent-primary;
  letter-spacing: 0;
}

.pricing__price {
  @include font(25px, 34px, 700);
  padding-top: 8px;
  letter-spacing: 0;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.pricing__item:hover .pricing__price {
  letter-spacing: 0;
}

.pricing__text {
  @include font(16px, 24px, 400);
  margin: 0;
  padding-bottom: 11px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba($basic-dark, 0.3);
    bottom: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 289px;
    padding-bottom: 28px;
    text-align: left;
  }
}

.pricing__item:hover .pricing__text {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $accent-primary;
    bottom: 0;
    right: 0;
  }
}

.pricing__features-list {
  @include reset-list;
  padding-left: 26px;
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.pricing__feature {
  @include font(16px, 32px, 400);
  list-style-image: url("../img/icons/tick.svg");
  padding-bottom: 10px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 14px;

    &:last-child {
      padding-bottom: 36px;
    }
  }
}

.pricing__item:hover .pricing__feature {
  list-style-image: url("../img/icons/black-tick.svg");
}

.pricing__icon {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    fill: $accent-primary;
  }
}

.pricing__contacts-number {
  @media (min-width: $desktop-width) {
    padding-left: 25px;
  }
}
