.promo {
  @media (min-width: $tablet-width) {
    background-image: url("../img/promo-bg-tablet.jpg");
    min-height: 344px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo-bg-tablet@2x.jpg");
      background-position: center top;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/promo-bg-desktop.jpg");
    background-position-x: 40%;
    min-height: 860px;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo-bg-desktop@2x.jpg");
      background-position: center top;
      background-size: cover;
    }
  }
}

.promo__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1170px;
    margin: 0 auto;
  }
}

.promo__text-box {
  @media (min-width: $tablet-width) {
    max-width: 398px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 83px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 412px;
    margin: 0 58px 0 auto;
    padding-top: 185px;
    text-align: left;
  }
}

.promo__title {
  @include font(24px, 36px, 600);
  color: $basic-lightest;
  padding: 82px 15px 0 18px;
  box-sizing: border-box;
  margin: 0;
  background-image: url("../img/promo-bg-mobile.jpg");
  min-height: 235px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background: url("../img/promo-bg-mobile@2x.jpg");
    background-position: center top;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    @include font(30px, 45px, 600);
    background-image: none;
    min-height: auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    @include font(55px, 80px, 600);
    text-align: left;
    letter-spacing: -1px;
  }
}

.promo__text {
  @include font(16px, 27px, 400);
  color: $basic-dark;
  padding: 20px 16px;
  margin: 0;
  text-align: center;
  letter-spacing: -0.4px;

  @media (min-width: $tablet-width) {
    @include font(16px, 27px, 400);
    color: $basic-lightest;
    padding: 15px 0 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 0 36px;
    max-width: 376px;
    text-align: left;
  }
}

.promo__button {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    min-width: 340px;
    margin: 0;
  }
}

.promo__arrow {
  @media (min-width: $desktop-width) {
    width: 16px;
    height: 16px;
  }
}
