.promo {
  background-image: url("../img/promo-bg-desktop.jpg");
  background-position-x: 40%;
  background-size: cover;
  background-color: $img-bg;
  min-height: 860px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background: url("../img/promo-bg-desktop@2x.jpg");
    background-position: center top;
    background-size: cover;
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/promo-bg-tablet.jpg");
    min-height: 344px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: inherit;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo-bg-tablet@2x.jpg");
      background-position: center top;
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: none;
  }
}

.promo__wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.promo__text-box {
  max-width: 412px;
  margin: 0 58px 0 auto;
  padding-top: 185px;
  padding-bottom: 40px;
  text-align: left;

  @media (max-width: $tablet-width-only) {
    max-width: 398px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 83px;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.promo__title {
  @include font(55px, 80px, 600);
  text-align: left;
  letter-spacing: -1px;
  color: $basic-lightest;
  box-sizing: border-box;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    @include font(30px, 45px, 600);
    background-image: none;
    text-align: center;
    letter-spacing: 0;
  }

  @media (max-width: $mobile-width-only) {
    @include font(24px, 36px, 600);
    padding: 82px 15px 0 18px;
    background-image: url("../img/promo-bg-mobile.jpg");
    min-height: 235px;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo-bg-mobile@2x.jpg");
      background-position: center top;
      background-size: cover;
    }
  }
}

.promo__text {
  @include font(16px, 27px, 400);
  padding: 28px 0 36px;
  max-width: 376px;
  text-align: left;
  color: $basic-lightest;
  margin: 0;
  letter-spacing: -0.4px;

  @media (max-width: $tablet-width-only) {
    max-width: 398px;
    padding: 15px 0 10px;
    text-align: center;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    color: $basic-dark;
    padding: 20px 16px;
  }
}

.promo__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
    width: 250px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    width: 288px;
  }
}

.promo__arrow {
  width: 16px;
  height: 16px;

  @media (max-width: $tablet-width-only) {
    width: 14px;
    height: 14px;
  }
}
