.request {
  background-image: url("../img/request-bg-desktop.jpg");
  background-size: contain;
  background-color: inherit;
  max-width: 1170px;
  margin: 0 auto 154px;
  min-height: 455px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/request-bg-desktop@2x.jpg");
    background-size: contain;
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/request-bg-tablet.jpg");
    background-size: cover;
    margin-bottom: 80px;
    background-color: $basic-light;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/request-bg-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width-only) {
    min-height: 415px;
    background-image: none;
    margin-bottom: 62px;
  }
}

.request__wrapper {
  margin: 0 0 0 auto;
  box-shadow: 0 4px 30px $shadow-primary;
  background-color: $basic-lightest;
  padding: 50px;
  box-sizing: border-box;
  width: 658px;
  max-width: 658px;

  @media (max-width: $tablet-width-only) {
    box-shadow: none;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    background-color: inherit;
    padding: 50px 16px;
    max-width: 320px;
    margin: 0 auto;
  }
}

.request__text {
  @include font(25px, 32px, 600);
  text-align: center;
  margin: 0;
  padding-bottom: 15px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 14px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 20px;
  }
}

.request__offer {
  @include font(16px, 24px, 400);
  text-align: center;
  margin: 0;
  padding-bottom: 23px;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 20px;
  }
}

.request__form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}

.request__control {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;

  &--phone {
    position: relative;

    &::before {
      content: "*";
      position: absolute;
      color: $accent-primary;
      line-height: 1;
      width: 6px;
      height: 6px;
      top: 10px;
      left: 15px;
      z-index: 0;
    }
  }

  @media (max-width: $tablet-width-only) {
    padding-bottom: 23px;
  }
}

.request__input {
  width: 269px;

  @media (max-width: $mobile-width-only) {
    width: initial;
  }
}

.request__button {
  width: 176px;
  margin: 0 auto;
  padding: 18px 0;

  @media (max-width: $tablet-width-only) {
    width: 250px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
  }
}
