.request {
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    background-image: url("../img/request-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 455px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/request-bg-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/request-bg-desktop.jpg");
    background-size: contain;
    background-color: inherit;
    max-width: 1170px;
    margin: 0 auto 160px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/request-bg-desktop@2x.jpg");
      background-size: contain;
    }
  }
}

.request__wrapper {
  padding: 50px 16px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    background-color: $basic-lightest;
    margin: 0 auto;
    width: 658px;
    box-sizing: border-box;
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 auto;
    box-shadow: 0 4px 30px $shadow-primary;
  }
}

.request__text {
  @include font(25px, 32px, 600);
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.request__offer {
  @include font(16px, 24px, 400);
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
}

.request__form-wrapper {
  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.request__control {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 269px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.request__button {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 176px;
    padding: 18px 0;
  }
}
