.site-list {
  @include reset-list;
  min-height: 0;
  align-items: center;

  @media (max-width: $tablet-width-only) {
    padding-top: 134px;
    box-sizing: border-box;
    min-height: 568px;
  }
}

.site-list__link {
  @include font(14px, 17px, 500);
  background-color: $basic-lightest;
  text-decoration: none;
  background-image: none;
  color: $basic-darkest;
  padding: 0;
  display: block;

  &--phone {
    @include font(18px, 32px, 400);
    text-decoration: underline;
    display: flex;
    align-items: center;
  }

  @media (max-width: $tablet-width-only) {
    @include font(20px, 28px, 600);
    color: $secondary-dark;
    padding: 17px 16px;
    margin-bottom: 30px;
    background-color: $basic-light;
    background-image: url("../img/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 93%;
  }
}

.site-list__item {
  display: inline-block;
  padding-left: 40px;

  &--phone {
    padding-left: 80px;
  }

  @media (max-width: $tablet-width-only) {
    padding-left: 0;
    display: block;

    &--phone {
      display: none;
    }
  }
}

.site-list__phone-number {
  padding-left: 16px;
}

.site-list__item:hover .site-list__link {
  color: $accent-primary;
}

.site-list__item:hover .site-list__icon {
  fill: $accent-primary;
}
