// viewports

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;

// colors

$basic-light: #fbf8f8;
$basic-lightest: #ffffff;
$accent-primary: #fe7865;
$accent-hover: #f17d4b;
$basic-dark: #2c2e3f;
$basic-darkest: #141517;
$shadow-primary: #2936421a;
$special-grey: #ccccce;
$special-grey-2: #d7d9df;
$secondary-dark: #48494d;
